@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
	box-sizing: border-box;
}

body {
	background: #e5e5e5;
	font-family: 'Roboto', sans-serif;
}

main {
	max-width: 800px;
	width: 90%;
	margin: auto;
	padding: 40px;
}